{%include "head.html"%}


<body>
    <div class="admin">
        <div>
            <a href="{{url_for('add_article_page')}}"><button class="add-article">Add Article</button></a>
        </div>
        <div>
            <a href="{{url_for('edit_article_page')}}"><button class="edit-article">Edit Article</button></a>
        </div>
        <div>
            <a href="{{url_for('add_project_page')}}"><button class="add-project">Add Project</button></a>
        </div>
        <div>
            <a href="{{url_for('edit_project_page')}}"><button class="edit-project">Edit Project</button></a>
        </div>
    </div>
</body>