{% include 'head.html' %}
{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}



<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        {% if request.path == url_for('contactpage') %}
        <div class="container" style="padding-left: 18px;">
            {% else %}
            <div class="container">
                {% endif %}
                <a class="navbar-brand" href="{{url_for('homepage')}}">
                    <img src="/static/images/portfolio_logo_purple.svg" alt="Portfolio Logo" width="40" height="40">
                </a>
                {% if request.path != url_for('contactpage') %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% endif %}
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% if request.path != url_for('contactpage') and request.path != url_for('add_article_page') and
                        request.path != url_for('edit_article_form_page', article_id=article.id)%}
                        <li class="nav-item">
                            <a class="nav-link me-sm-3" href="{{url_for('blogpage')}}"
                                style="color: #000000;">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-sm-3" href="#" style="color: #000000;">Download Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link code-btn" href="{{url_for('contactpage')}}" id="say-hello">Say Hello</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
                {% if request.path == url_for('contactpage') or request.path == url_for('add_article_page') or
                request.path == url_for('edit_article_form_page', article_id=article.id)%}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{url_for('edit_article_page')}}" class="nav-link exit-icon"
                            style="cursor: pointer;"><img src="/static/images/exit.svg" alt="exit icon" width="35"
                                height="35"></a>
                    </li>
                </ul>
                {% endif %}
            </div>
    </nav>



    <div id="add-article-cont" class="container-fluid">
        <div class="row justify-content-center">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show col-md-8 col-lg-8 mb-4" role="alert"
                style="background-color: #712cf9; color: white;">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    style="color: white; background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\' fill=\'%23ffffff\'%3E%3Cpath d=\'M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z\'/%3E%3C/svg%3E');"
                    aria-label="Close"></button>
            </div>
            {% endfor %}
            <form id="add-article-form" method="POST"
                action="{{ url_for('edit_article_form_page', article_id = article.id) }}" class="col-md-8 col-lg-8">
                <div>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.title.label(class="form-label fw-bold") }}
                        {{ form.title(class="form-control form-control-lg") }}
                    </div>
                    <div class="mb-3">
                        {{ form.subtitle.label(class="form-label fw-bold") }}
                        {{ form.subtitle(class="form-control form-control-lg") }}
                    </div>
                    <div class="mb-3">
                        {{ form.img_url.label(class="form-label fw-bold") }}
                        {{ form.img_url(class="form-control form-control-lg") }}
                    </div>
                    <div class="mb-3">
                        {{ form.body.label(class="form-label fw-bold") }}
                        {{ form.body(class="form-control form-control-lg ck-editor-textarea", rows="5") }}
                    </div>
                    {{ form.submit_edit(class="mb-5", id="add-article-btn") }}
                </div>
            </form>
        </div>
    </div>


</body>