{% include 'head.html' %}
{% include 'header.html' %}

<body>

    <section class="blog slide-in active" style="margin-top: 50px;">
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
                    {% for article in articles %}
                    <div class="col  slide-in active">
                        <a href="{{url_for('edit_article_form_page', article_id = article.id)}}" class="card-link">
                            <div id="article-card" class="card shadow-sm">
                                <img src="{{article.img_url}}" class="bd-placeholder-img card-img-top"
                                    style="object-fit: cover;" width="100%" height="225" role="img"
                                    aria-label="Placeholder: Thumbnail" alt="Placeholder image">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <p class="card-title fs-5 fs-md-4 fs-sm-3" id="article-title">{{article.title}}
                                        </p>
                                        <p class="card-text">{{article.subtitle}}</p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button id="readmore-article-btn" type="button"
                                                class="btn btn-sm code-font">Edit Article</button>

                                        </div>
                                        <small id="article-date" class="text-body-secondary">{{article.date}}</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    {%include "admin.html"%}



</body>

{% include 'footer.html' %}