{% include 'head.html' %}
{% include 'header.html' %}

<body>

    <section class="blog slide-in active" style="margin-top: 70px;">
        <div class="album py-5">
            <div class="container">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show col-md-12 col-lg-12 mb-4" role="alert"
                    style="background-color: #712cf9; color: white;">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                        style="color: white; background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\' fill=\'%23ffffff\'%3E%3Cpath d=\'M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z\'/%3E%3C/svg%3E');"
                        aria-label="Close"></button>
                </div>
                {% endfor %}
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
                    {% for article in articles %}
                    <div id="article-card-height" class="col  slide-in active">
                        <!-- <a href="{{url_for('edit_article_form_page', article_id = article.id)}}" class="card-link"> -->
                        <div id="article-card" class="card shadow-sm">
                            <a href="{{url_for('single_article_page', article_id = article.id)}}">
                                <img src="{{article.img_url}}" class="bd-placeholder-img card-img-top"
                                    style="object-fit: cover;" width="100%" height="225" role="img"
                                    aria-label="Placeholder: Thumbnail" alt="Placeholder image">
                            </a>
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div>
                                    <p class="card-title fs-5 fs-md-4 fs-sm-3" id="article-title">{{article.title}}
                                    </p>
                                    <p class="card-text">{{article.subtitle}}</p>
                                </div>
                                <div id="edit-delete" class="d-flex justify-content-between align-items-center">
                                    <div id="edit-delete-btns" class="btn-group">
                                        <a id="readmore-article-btn" type="button" class="btn btn-sm code-font"
                                            href="{{url_for('edit_article_form_page', article_id = article.id)}}">Edit
                                            Article</a>
                                        <a id="" type="button" class="btn btn-danger btn-sm code-font"
                                            href="{{url_for('delete_article', article_id = article.id)}}">Delete
                                            Article</a>

                                        <!-- 
                                            <button id="readmore-article-btn" type="button"
                                                class="btn btn-sm code-font" data-article-id="{{ article.id }}">Edit
                                                Article</button>
                                            <button id="delete-article-btn" style="margin-left: 10px;" type="button"
                                                class="btn btn-sm code-font" data-article-id="{{ article.id }}">Delete
                                                Article</button> -->



                                    </div>
                                    <small id="article-date" class="text-body-secondary">{{article.date}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    {%include "admin.html"%}


    <script>

        document.getElementById('delete-article-btn').addEventListener('click', function () {
            var articleId = this.getAttribute('data-article-id');
            deleteArticle(articleId);
        });

    </script>


</body>

{% include 'footer.html' %}