{% include 'head.html' %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light py-4 fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('homepage')}}">
                <img src="/static/images/portfolio_logo_purple.svg" alt="Portfolio Logo" width="40" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link me-sm-3" href="{{url_for('blogpage')}}" style="color: #000000;">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-sm-3" href="#" style="color: #000000;">Download Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link code-btn" href="{{url_for('contactpage')}}" id="say-hello">Say Hello</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Bootstrap JavaScript and dependencies (Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.navbar-toggler').on('click', function () {
                $('.nav-item:last-child .nav-link').toggleClass('code-btn');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var lastScrollTop = 0;
            $(window).scroll(function () {
                var currentScroll = $(this).scrollTop();
                if (currentScroll > lastScrollTop) {
                    // Scroll down
                    $('.navbar').addClass('hidden');
                } else {
                    // Scroll up
                    $('.navbar').removeClass('hidden');
                }
                lastScrollTop = currentScroll;
            });
        });
    </script>

</body>