{% include 'head.html' %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        {% if request.path == url_for('contactpage') or request.path == url_for('add_article_page') or request.path ==
        url_for('add_project_page') or request.path == url_for('edit_project_page') or request.path ==
        url_for('edit_article_page')%}
        <div class="container" style="padding-left: 5px;">
            {% else %}
            <div class="container">
                {% endif %}
                <a class="navbar-brand" href="{{url_for('homepage')}}">
                    <img src="/static/images/portfolio_logo_purple.svg" alt="Portfolio Logo" width="40" height="40">
                </a>
                {% if request.path != url_for('contactpage') %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% endif %}
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% if request.path != url_for('contactpage') and request.path != url_for('add_article_page')
                        and
                        request.path != url_for('add_project_page')%}
                        <li class="nav-item">
                            <a class="nav-link me-sm-3" href="{{url_for('blogpage')}}"
                                style="color: #000000;">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-sm-3" href="#" style="color: #000000;">Download Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link code-btn" href="{{url_for('contactpage')}}" id="say-hello">Say
                                Hello</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
                {% if request.path == url_for('contactpage')%}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link exit-icon" style="cursor: pointer;"><img src="/static/images/exit.svg"
                                alt="exit icon" width="35" height="35"></a>
                    </li>
                </ul>
                {%elif request.path == url_for('add_article_page')%}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{url_for('edit_article_page')}}" class="nav-link" style="cursor: pointer;"><img
                                src="/static/images/exit.svg" alt="exit icon" width="35" height="35"></a>
                    </li>
                </ul>
                {%elif request.path == url_for('add_project_page')%}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{url_for('edit_project_page')}}" class="nav-link" style="cursor: pointer;"><img
                                src="/static/images/exit.svg" alt="exit icon" width="35" height="35"></a>
                    </li>
                </ul>
                {% endif %}
            </div>
    </nav>

    <!-- Bootstrap JavaScript and dependencies (Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.navbar-toggler').on('click', function () {
                $('.nav-item:last-child .nav-link').toggleClass('code-btn');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var lastScrollTop = 0;
            $(window).scroll(function () {
                var currentScroll = $(this).scrollTop();
                if (currentScroll > lastScrollTop) {
                    // Scroll down
                    $('.navbar').addClass('hidden');
                } else {
                    // Scroll up
                    $('.navbar').removeClass('hidden');
                }
                lastScrollTop = currentScroll;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.exit-icon').on('click', function () {
                window.history.back();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.navbar-toggler').on('click', function () {
                $('.navbar').toggleClass('active');
            });
        });
    </script>

</body>